@import '../../style/index.scss';

:host {
    width: 2.5rem;
    height: 2.5rem;
}

.theme-button {
    width: 100%;
    height: 100%;

    position: relative;

    opacity: 1;

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        opacity: 0.3;
    }
}

#icon, #border {
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: 100%;
    width: 100%;

    border-radius: 10px;
}

#icon {
    position: relative;
    z-index: 1;

    background-color: var(--tertiary-color);
    background-image: url('/assets/contrast-icon.svg');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;

    &.inverted {
        background-image: url('/assets/contrast-icon-inverted.svg');
    }

    &::before {
        // Preload images to prevent loading during theme switch
        content: url('/assets/contrast-icon.svg') url('/assets/contrast-icon-inverted.svg');

        position: absolute;
        width: 0;

        height: 0;

        overflow: hidden;
    }
}

// Animated border
#border {
    --rotation: 0;
    --transparency-degrees: 110;

    content: '';

    position: absolute;
    z-index: 0;

    padding: 1.5px;

    background-image: repeating-conic-gradient(
        from calc(var(--rotation) * 1deg),
        transparent 0% calc(var(--transparency-degrees) * 1deg),
        var(--text-color-light) 50%,
    );
}
