<h2>Contact me</h2>
<div class="contact-window-container">
    <div class="input-section">
        <label for="name">Name</label>
        <textarea name="name" id=""></textarea>
    </div>
    <div class="input-section">
        <label for="email">Email</label>
        <textarea name="email" id=""></textarea> 
    </div>
    <div class="input-section" id="message-section">
        <label for="message">Message</label>
        <textarea name="message" id="message-input"></textarea>
    </div>
    <button>
        Send
    </button>
    <div class="under-construction-banner">
        <h2>UNDER CONSTRUCTION</h2>
    </div>
</div>