@import '../../shared/styling/index.scss';

:host {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    width: 50%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $header-banner-size 10%;

    h2 {
        font-size: 3.5rem;
        // margin: 1rem 0;
    }
}
