@import '../../style/index.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 100%;

    padding: $header-banner-size 0;
    box-sizing: border-box;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5%;
    box-sizing: border-box;

    h2 {
        font-size: $page-header-text-size;
        margin: 0;
    }

    &.top-section {
        height: 35%;
    }

    &.bottom-section {
        flex-grow: 2;
    }
}

.showcase {
    width: 100%;
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    gap: 2%;

    margin-top: 5vh;
}
