@import '../style/index.scss';

:host {
    position: relative;
    z-index: -1;

    display: inline-block;
    height: max-content;
    width: 100%;

    background-color: $primary-color;

    &.dark-theme {
        background-color: $primary-color-dark;
    }
}
