@import './shared/styling/index.scss';

* {
    font-family: monospace;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1, p {
    color: $text-color;
}

.dark-theme {
    h1, p {
        color: $text-color-dark;
    }
}
