@import './shared/styling/index.scss';

* {
    font-family: monospace;
}

html,body {
    // height: 100%;
    width: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    z-index: -1;
    
    overflow: auto;

    &.no-scroll {
        overflow: hidden;
    }
}

h1, h2, h3, p {
    color: $text-color;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

.dark-theme {
    h1, h2, h3, p {
        color: $text-color-dark;
    }
}
